.main-containers {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
}
.context-wrapper {
  overflow-x: auto;
  max-width: 85%;
  margin: auto;
}
.context-wrapper li {
  font-size: 1em;
  line-height: 1.8em;
}
.wp-holder {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  word-wrap: break-word;
  /* border-bottom: 0.5px solid #aaa; */
}
.wp-holder:nth-child(even) {
  background: #f2f2f2;
}
.button-container {
  justify-content: left;
  display: flex;
  margin-left: auto;
  height: 37px;
}
.button-wrapper {
  width: 300px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  height: 37px;
}
.change-button {
  margin-right: 10px;
}
.sub-head {
  margin-left: 20px;
  display: flex;
}

.container {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: none;
  }
}
.user_anchor {
  text-align: center;
  width: 200px;
  min-height: 50px;
  margin: auto;
  background: navajowhite;
}
.user-container {
  text-align: right;
  height: auto;
}
.type-holder {
  width: 100%;
  display: flex;
}
.type {
  width: auto;

  margin-left: 20%;
}
.typedata {
  width: 100px;
  margin-left: 70px;
}
/* anchored header */
.anchored-head-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr;
  grid-gap: 10px;
  margin-left: 50px;
  margin-top: 50px;
}
/* context bunch */
.button-bunch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
  background: orange;
  transition: 0.4s;
  border: solid 2px #d27d00;
}

.atn-content {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Slab", serif;
  width: 350px;
  list-style: none;
  margin-left: 15%;
  margin-top: 15px;
}
@media (max-width: 1190px) {
  .atn-content {
    width: 100px;
  }
}
/* context first row */

.d-f-container {
  width: 200px;
  list-style: none;
  word-wrap: break-word;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Slab", serif;
}
.first-row-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-gap: 10px;
}
.type-holder {
  width: 510px;
  display: flex;
}
.type {
  width: auto;
  margin-left: 20%;
}
.typedata {
  width: 100px;
  margin-left: 70px;
}
@media (max-width: 879px) {
  .type {
    margin-left: 15%;
  }
}
@media (max-width: 478px) {
  .wp-holder {
    width: 350px;
  }
  .atn-content {
    width: 100px;
    margin-left: 15px;
  }
  .d-f-container {
    width: 100px;
  }
  .type-holder {
    width: 153px;
  }
  /* .type {
    width: 100%;
  } */
  .typedata {
    margin-left: 15px;
  }
  .context-wrapper {
    max-width: 100%;
  }
  .button-container {
    margin-right: 13px;
  }
}

@media (max-width: 334px) {
  .atn-content {
    width: 100px;
  }
  .d-f-container {
    width: 50px;
  }
  .context-wrapper {
    width: 100%;
  }
  .atn-content {
    width: 40px;
  }
}
/* anchored header */

* {
  font-family: sans-serif; /* Change your font family */
}

.anchored-first-row {
  border-collapse: collapse;
  background-color: #d68910;
  color: #fff;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 550px;
  border-radius: 5px 5px 0 0;
  overflow-x: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.anchored-header {
  border-collapse: collapse;
  background-color: #009879;
  color: #fff;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow-x: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  background: #008cba;
}
