.nav {
  background: #cfad55;
}
.nav-item {
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.logo-wrapper {
  height: 48px;
  width: 150px;
  max-width: 220px;
  max-height: 100px;
}

.signin {
  font-size: 100%;
  color: #fff;
  background-color: #0b615e;
  cursor: pointer;
  font-weight: 600;
  margin-right: 5px;
  transition: all 0.2s;
  padding: 0.9em 0.2em;
  border-radius: 0.3em;
  padding-right: 25px;
}
.signin:hover {
  color: white;
  background-color: #4c0b5f;
}
.signin img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
